<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Alignment" type="System.Configuration.AppSettingsSection" />
	<section name="Enums" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <appSettings>
    <add key="SymbolAnalyzer" value="RawPDB" />
    <add key="MB2" value="16, 32, 48, 64, 80, 96, 112, 128, 144, 160, 176, 192, 208, 256, 288, 320, 384, 448, 512, 560, 624, 720, 816, 912, 1008, 1168, 1392, 1520, 1680, 1872, 2032, 2256, 2608, 2976, 3264, 3632, 4080, 4368, 4672, 5040, 5456, 5952, 6544, 7280, 8176, 9360, 10912, 13104, 16368, 21840, 32752" />
    <add key="MB3" value="16, 32, 48, 64, 80, 96, 112, 128, 144, 160, 176, 192, 224, 256, 288, 320, 368, 400, 448, 512, 576, 672, 736, 816, 1024, 1168, 1360, 1536, 1632, 1744, 2048, 2448, 2720, 3072, 3264, 4096, 4768, 5120, 5456, 5728, 6144, 7168, 8192, 9552, 10240, 12288, 14336, 16384" />
  </appSettings>
  <Alignment>
  	<add key="UE::Math::TVector4&lt;float&gt;" value= "16" />
	<add key="UE::Math::TVector4&lt;double&gt;" value= "16" />
	<add key="UE::Math::TQuat&lt;float&gt;" value= "16" />
	<add key="UE::Math::TQuat&lt;double&gt;" value= "16" />
	<add key="UE::Math::TTransform&lt;float&gt;" value= "16" />	
	<add key="UE::Math::TTransform&lt;double&gt;" value= "16" />
	<add key="UE::Math::TMatrix&lt;float&gt;" value= "16" />
	<add key="UE::Math::TMatrix&lt;double&gt;" value= "16" />
	<add key="UE::Math::TPlane&lt;float&gt;" value= "16" />
	<add key="UE::Math::TPlane&lt;double&gt;" value= "16" />
	<add key="VectorRegister4Float" value= "16" />
	<add key="VectorRegister4Double" value= "16" />
  </Alignment>
  <Enums>
  	<add key="EObjectFlags" value= "4" />
	<add key="EAssetTypeCategories::Type" value= "4" />
	<add key="ESkeletalMeshAsyncProperties" value= "8" />
  </Enums>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
</configuration>
